<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-geofence-storage" version="0.0.1">
    <name>GeofenceStorage</name>
    <description>Geofence Storage Plugin</description>
    <license>Apache 2.0</license>
    <keywords>phonegap,background geolocation, geofence, storage</keywords>
    <repo>https://github.com/avnergoncalves/cordova-plugin-geofence-storage.git</repo>
    <issue>https://github.com/avnergoncalves/cordova-plugin-geofence-storage/issues</issue>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/geofence-storage.js" name="geofencestorage">
        <clobbers target="window.geofencestorage"  />
    </js-module>

    <dependency id="cordova-plugin-add-swift-support" version="1.6.0" />

    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>${EXECUTABLE_NAME} Would Like to Use Your Current Location Even In Background.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>${EXECUTABLE_NAME} Would Like to Use Your Current Location When In Use.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>
        <config-file target="config.xml" parent="/*">
          <feature name="GeofenceStorage">
            <param name="ios-package" value="CPGSPlugin" onload="true" />
          </feature>
        </config-file>
        <header-file src="src/ios/CPGS-Plugin-Bridging-Header.h" />
        <source-file src="src/ios/CPGSSwiftData.swift"/>
        <source-file src="src/ios/CPGSSwiftyJson.swift"/>
        <source-file src="src/ios/CPGSStore.swift"/>
        <source-file src="src/ios/CPGSGeofenceStore.swift"/>
        <source-file src="src/ios/CPGSRegisterStore.swift"/>
        <source-file src="src/ios/CPGSManagerNotification.swift"/>
        <source-file src="src/ios/CPGSManagerGeofence.swift"/>
        <source-file src="src/ios/CPGSPlugin.swift"/>
        <framework src="libsqlite3.dylib"/>
        <framework src="WebKit.framework" weak="true" />
    </platform>
</plugin>
